
.stock-display {
  display: flex;
  padding: 10px;
  flex-direction: column; /* Stack children vertically */
  gap: 10px;
}

.top-line,
.bottom-line {
  display: flex;
  justify-content: space-between;
  gap: 20px; /* The spans will always at least have a gap of 20px */
}

/* Additional styling for individual spans */
.stock-display span {
  font-weight: bold; /* Make the text bold */
}

.stock-display .ticker {
  color: #ffffff; /* Blue color for ticker */ /* danish: what?? */
  font-size: 0.9rem;
}

.stock-display .latest-price {
  color: #ffffff; /* Green color for latest price */ /* danish: green??? */
  font-size: 0.9rem;
}

.stock-display .percentage-change {
  font-size: 1.2rem;
}

.stock-display .price-change {
  font-size: 0.9rem;
}

.positive-change {
  color: #1db954;
}

.negative-change {
  color: #f45b5b;
}
